body {
	font-family: sans-serif;
}

.fieldest_group {
	max-width: 300px;
    min-height: 470px;
	display: block;
	border-radius: 10px;
}

.heading_group {
	font-size: 20px;
}

.label_group__top {
    display: inline-block;
	margin-top: -20px;
}

.label_group {
    display: inline-block;
}

.title_input {
	margin-bottom: 5px;
}

.input_group {
	border-radius: 5px;
    min-height: 20px;
	min-width: 250px;
	border: 1px solid #000;
}

.textarea_group {
	border-radius: 5px;
	min-width: 250px;
}

.button {
    margin-top: 5px;
    margin-left: 35px;
    cursor: pointer;
}