table {
	font-family: sans-serif;
	border-spacing: 0;
	border-collapse: collapse;
}

caption,
th,
td {
	border: 1px solid #000;
}

caption {
	font-weight: 700;
	border-bottom: none;
}

.table_red {
	color: red;
}
